@model Travel.Admin.Models.BasicMemberInformation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>請確認好是否要刪除?</h3>
<div>
    <h4>會員資料</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeCommodity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeCommodity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Followers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Followers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tracks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tracks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Introduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseCreatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseCreatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseRenewtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseRenewtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level.LevelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberPicture)
        </dt>
        <dd class = "col-sm-10">
            <img id="imgPreview" src="@(Model?.MemberPicture != null && Model.MemberPicture.Length > 0 ? Url.Action("GetPicture", "BasicMemberInformations", new { id = Model?.MemberuniqueId }) : Url.Content("~/images/unknown.png"))" style="width:350px;height:300px" title="尚未選擇圖片" />
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="MemberuniqueId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
        
</div>
