@model Travel.Admin.Models.TravelDetail

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TravelDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelDetailedIntroduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelDetailedIntroduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TourBus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TourBus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Train)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Train)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MorningName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MorningName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LunchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LunchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DinnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DinnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccommodationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhichDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhichDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Travel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Travel.TravelId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TravelDetailsId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
