@model Travel.Admin.Models.ProductTravel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductTravel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelIntroduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelIntroduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelMeetingpoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelMeetingpoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductShow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Travelarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Travelarea.TravelareaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TravelId" />
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('是否刪除這筆資料')" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
