@model Travel.Admin.Models.MallProductPurchaseRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MallProductPurchaseRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangeStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangeTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MallProductTable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MallProductTable.MallProductTableId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MprecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
