@model Travel.Admin.Models.ArticleOverview

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>請確認好是否要刪除?</h3>
<div>
    <h4>文章總覽</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memberunique.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memberunique.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleCoverImage)
        </dt>
        <dd class = "col-sm-10">
            <partial name="_PicturePartial" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ArticleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
