@model Travel.Admin.Models.Storedrecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Storedrecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefundStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefundStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoldDenomination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoldDenomination.GoldDenominationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memberunique)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memberunique.MemberuniqueId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StoreRecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
