@model IEnumerable<Travel.Admin.Models.Storedrecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Storedrecord</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefundStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoldDenomination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memberunique)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefundStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoldDenomination.GoldDenominationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memberunique.MemberuniqueId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StoreRecordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StoreRecordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StoreRecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
